* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fff;
    --secondary-color: #eee;
    --padding: 15px;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border: 1px solid #ccc;
    --border-two: 1px solid #eee;
    --radius: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    background-color: #eee;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

a {
    text-decoration: none;
}


.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

/* sidebar dashboard */

.sideBar {
    width: 250px;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.sideBar .logo {
    margin-top: 0;
    margin-bottom: 50px;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.sideBar .logo::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}

.sideBar .logo::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -23px;
    border: 2px solid white;
    z-index: 2;
}

.sideBar .menu li a {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;

}

.sideBar .menu a.active,
.sideBar .menu a:hover {
    background-color: var(--secondary-color);
}

.sideBar .menu li a p {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width:767px) {
    .sideBar {
        width: 58px;
        padding: 10px;
    }

    .sideBar .logo {
        font-size: 13px;
        margin-bottom: 15px;

    }

    .sideBar .logo::before,
    .sideBar .logo::after {
        display: none;
    }

    .sideBar .menu li a {
        display: flex;
        justify-content: center;
    }

    .sideBar .menu li a p {
        display: none;
    }
}


/* .dashboeard right-side */
.content {
    width: 100%;
    overflow-y: scroll
}

.content .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);
}

.content .head .search {
    color: var(--grey-color);
    border: var(--border);
    border-radius: 20px;
    padding: 10px;
    white-space: nowrap;
}

.content .head .search i {
    margin-right: 10px;
    color: var(--grey-color);
}

.content .head .search .search-keyword {
    background-color: transparent;
    border: none;
    width: 140px;
    transform: 0.3s;
}

.content .head .search .search-keyword:focus {
    outline: none;
    border: none;
    width: 200px;
}

.content .head .search .search-keyword:focus::placeholder {
    opacity: 0;
}

.head .icons {
    display: flex;
    align-items: center;
}

.icons .notification {
    position: relative;
}

.icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    right: -4px;
    top: -5px;
}

.icons .notification i {
    font-size: 20px;
}

.icons img {
    width: 30px;
    margin-left: 10px;
}

/* the dashbard page */

h1 {
    margin: 20px 20px 40px;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: black;
    left: 0;
    bottom: -10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .wrapper>div {
        text-align: center;
    }
}

/* start projects wedget*/

.project .date{
    position: absolute;
    right: 10px;
    top: 10px;
}
.project h4{
    font-weight: normal;
}
.project .team {
    border-bottom: var(--border);
    position: relative;
    min-height: 32px;
}

.project .team img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: #fff;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}
.project .team img:nth-child(2){
    left: 20px;
}
.project .team img:nth-child(3){
    left: 40px;
}
.project .team img:nth-child(4){
    left: 60px;
}
.project .team img:nth-child(5){
    left: 80px;
}
.project .team img:hover{
    z-index: 100;
}


.project .goal{
    margin-left: auto;
    width: fit-content;
}
.progress {
    width: 70%;
    height: 9px;
}
.level{
    border-top: var(--border);
}
.progress span {
    position: absolute;
    height: 9px;
}

.project .team img:not(:last-child):hover{
    margin-right: 15px;
}
@media (max-width:767px) {
    .project h4{
    margin-top: 10px;
    }
    .date{
    left: 50%;
    transform: translateX(-50%);

    }
    .team {
    padding-top: 10px;
    }
    .goal{
        margin-right: auto;
    }
    .goal span{
        display: block;
        margin: 0 0 10px  0;
    }
}


